.emoji{
  font-size: 60px;
  padding: 0.2em;

}
.choices{
  text-align: center;
  margin-top: 40px;
}
.choices span{
  font-size: 60px;
  padding: 0.2em ;

}
.winner{
  
   text-align: center;
   margin-top: 20px;
   font-size: 36px;
   color: white;
   background-color: green;
}
.loser{
  text-align: center;
   margin-top: 20px;
   font-size: 24px;
   color: black;

}
form{
  text-align: center;
  margin-top:2em;
}
button{
  
    padding: 0.5em;
    font-size: 20px;
    border-radius: 10%;
    background-color: green;
    color: white;

}